<table class="table table-borderless" >
    <tr class="d-flex">
        <th class="col-2">Church name</th>
        <td class="col-8">{{form.name}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Start date</th>
        <td class="col-8">{{form.start_date}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">End date</th>
        <td class="col-8">{{form.end_date}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Coordinates</th>
        <td class="col-8">{{form.coordinates}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:location-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Institution type</th>
        <td class="col-8">{{form.institution_type}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:institutiontype-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Textual evidence</th>
        <td class="col-8">{{form.textual_evidence}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Material evidence</th>
        <td class="col-8">{{form.material_evidence}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">External link</th>
        <td class="col-8">{{form.external_link}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:externallink-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Bibliography</th>
        <td class="col-8">{{form.bibliography}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:bibliography-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Description</th>
        <td class="col-8">{{form.description}}</td>
    </tr>
</table>