<table class="table table-borderless" >
    <tr class="d-flex">
        <th class="col-2">Name</th>
        <td class="col-8">{{form.name}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Date</th>
        <td class="col-4">{{form.date_lower}}</td>
        <td class="col-4">{{form.date_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Original location</th>
        <td class="col-8">{{form.original_location}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:church-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Current location</th>
        <td class="col-8">{{form.current_location}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:church-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>

    <tr class="d-flex">
        <th class="col-2">Type</th>
        <td class="col-8">{{form.type}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:objecttype-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Textual evidence</th>
        <td class="col-8">{{form.textual_evidence}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Material evidence</th>
        <td class="col-8">{{form.material_evidence}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">External link</th>
        <td class="col-8">{{form.external_link}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Bibliography</th>
        <td class="col-8">{{form.bibliography}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'saints:bibliography-insert' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Description</th>
        <td class="col-8">{{form.description}}</td>
    </tr>
</table>