{% extends 'saints/base.html' %}
{% load widget_tweaks %}
{% block main_content %}

<h2>Bibliography list</h2>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Short title</td>
            <td>Author </td>
            <td>Year</td>
            <td>
                 <a href="{% url 'saints:bibliography-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for bibliography in bibliography_list %}
            <tr>
                <td>{{bibliography.short_title }}</td>
                <td>{{bibliography.author}}</td>
                <td>{{bibliography.year}}</td>
                <td>
                    <a href="{% url 'saints:bibliography-update' bibliography.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'saints:bibliography-delete' bibliography.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock main_content %}
