{% extends 'saints/base.html' %}
{% load widget_tweaks %}
{% block main_content %}

<h2>Church list</h2>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Church Name</td>
            <td>Start date </td>
            <td>End date</td>
            <td>Institution type</td>
            <td>
                 <a href="{% url 'saints:church-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for church in church_list %}
            <tr>
                <td>{{church.name }}</td>
                <td>
                    {% if church.start_date_lower == church.start_date_upper %}
                    {{church.start_date_lower}}
                    {% else %}
                    {{church.start_date_lower}} - {{church.start_date_upper}}
                    {% endif %}
                </td>
                <td>
                    {% if church.end_date_lower == church.end_date_upper %}
                    {{church.end_date_lower}}
                    {% else %}
                    {{church.end_date_lower}} - {{church.end_date_upper}}
                    {% endif %}
                </td>
                <td>{{church.institution_type}}</td>
                <td>
                    <a href="{% url 'saints:church-update' church.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'saints:church-delete' church.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock main_content %}
