{% extends 'saints/base.html' %}

{% block main_content %}

<h1>Iberian Saints</h1>
<h3>Making a martyr in medieval Iberia (589-1080)</h3>
<hr>
<p>
    When asking what makes a martyr, we tend to think about personal conviction, but
sociological and historical research into martyr movements is increasingly revealing that
martyrs are actively created by their communities, through songs, stories and poems
that frame martyrs as heroes in a cosmic war. This project promises new insights into
how societies make martyrs by looking to early medieval Iberia, which was home to a
widespread and very active devotion to indigenous Christian martyr saints. Many of these
had been killed by the Romans in the late-antique period, but a number of ‘new martyrs’
emerged in the ninth and tenth centuries as apparent victims of Muslim authorities. The
project is the first to explore how their martyrdom was constructed through a complete
range of cultural media and with what implications in the multicultural world of the
Iberian peninsula.
</p>
<p>
    A major element of the cultural construction of the Iberian martyrs that until now has
remained unexplored is ritual commemoration: the regular celebration of martyr saints in
the Christian liturgy. Central to my analysis is the Old Hispanic liturgy, a unique tradition
practiced only in Iberia between 589 and 1080, which communicated the ideal of
martyrdom throughout the peninsula, but always in connection with material expressions
of religious piety (relics, church dedications, donations). For the first time, this project
will explore these sources together, incorporating the music of the liturgy, and covering
both the northern Christian kingdoms and Muslim Al-Andalus. The interdisciplinary and
comparative approach will contribute new methodologies to the study of religion by
showing how ritual shapes society in different contexts through forming collective
identities, cultural memory and religious ideals. The unique cultural diversity of medieval
Iberia presents an ideal context from which to draw broader conclusions about how
martyrs are made to unite and divide communities.
</p>

{% endblock main_content %}
